body {
    color:#000;
}

.debug {
    display: none;
}

#content {
    color:#000;

}

#board, div.board {
    position: relative;
    width: 1000px;
    height: 1000px;
    overflow: hidden;
    border: 1px solid black;
    background-color: #EEE;
}

#console {
    width:400px;
    height:300px;
    padding:20px;
    background-color: #28a4c9;
    color:#0f0f0f;
    position:absolute;
    top:20px;
    right:20px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

.reset-game {
    margin-left:30px;
}


/*No Canvas*/
.robot {
    position: absolute;
    margin-left:-4px;
    margin-bottom:-10px;
}

.missile {
    position: absolute;
    margin-left:-4px;
    margin-bottom:-10px;
}

.explosion {
    position: absolute;
    width:0;
    height:0;
    display:block;
}

.radar {
    position: absolute;
}

.radar .arc {
    width:0;
    height:0;
    display:block;
}