.debug {
    display: none;
}

#board, div.board {
    position: relative;
    border: 1px solid black;
    width: 1000px;
    height: 1000px;
    overflow: hidden;
}

.robot {
    position: absolute;
    margin-left:-4px;
    margin-bottom:-10px;
}

.missile {
    position: absolute;
    margin-left:-4px;
    margin-bottom:-10px;
}

.explosion {
    position: absolute;
    width:0;
    height:0;
    display:block;
}

.radar {
    position: absolute;
}

.radar .arc {
    width:0;
    height:0;
    display:block;
}

#fps {
    position: absolute;
    top:0;
    left:0;
}