<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
        <meta charset="utf-8" />
        <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
        <!--[if IE]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    {% block headcontent %}
    {% endblock %}

</head>

<body id="index" class="{% block body_class %}{% endblock %}">
  <div class="container" role="main">
  <div class="row"><div class="col-md-12">
    {% for message in get_flashed_messages() %}
      <div class="alert alert-warning" role="alert">
        {{ message }}
      </div>
    {% endfor %}
  </div></div>
  <div class="row"><div class="col-md-12">
    {% block content %}
    {% endblock %}

    {% block aftercontent %}
    {% endblock %}
  </div></div>
  </div>
</body>
</html>
