{% extends "base.html" %}
{% block title %}Board Viewer{% endblock %}
{% block headcontent %}
{% endblock %}
{% block content %}
<section id="content" class="body">
    <h1 class="entry-title">Netrobots - Boardviewer</h1>

    <div class="row">
        <div id="fps">&nbsp;</div>
        <div class="col-md-10">
            <canvas id="board" width="1000" height="1000">Your browser does not support the HTML5 canvas tag.</canvas>
        </div>
        <div class="col-md-2 info">
            <a class="btn btn-default reset-game" href="#" role="button">Reset Game</a>
            <ul class="robot-list"> </ul>
            <pre class="debug"> </pre>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 info">
            <h4>Hotkeys</h4>
            <p> Q - press to enable or disable fixed stats.</p>
            <p> TAB - press and hold for showing stats and release for hiding.</p>
            <p> W - press to enable or disable reloading popups.</p>
            <p> E - press to enable or disable damage popups.</p>
        </div>
    </div>
</section>
{% endblock %}

{% block aftercontent %}
<a href="/nocanvas">nocanvas version</a>
<script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}
