{% extends "base.html" %}
{% block title %}Board Viewer{% endblock %}
{% block headcontent %}
<script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}
{% block content %}
<section id="content" class="body">
    <h1 class="entry-title">Netrobots - Boardviewer</h1>

    <div class="row">
        <div class="col-md-10">
            <div class="board">&nbsp;
            </div>
        </div>
        <div class="col-md-2 info">
            <a class="btn btn-default reset-game" href="#" role="button">Reset Game</a>
            <ul class="robot-list"> </ul>
            <pre class="debug"> </pre>
        </div>
    </div>
</section>
{% endblock %}

